.container {	
	text-align: center;	
}

#container-top {
	height: 700px;
}

#container-floors {
	float: left;
	width:55%;
}

#container-generate {
	float:left;
	width:35%;
	text-align:left;
	margin-right:5px;
}

#container-students {
	float:left;
	width:100%;
}


/* 기타 등등 */

.radio-description {
	float: left;
	margin-right: 10px;
}

.hidden-radio {
	height: 15px;
}


.hidden {
	visibility:hidden;
}

img {
	width:75px;
	height:75px;
}

table {
	text-align:center;
	font-size:12px;
	margin:15px;
}

caption {
	font-size:17.5px;
}
.inactive-input {
	color:gray;
	cursor:default;
}

.none {
	display:none;
}